spring:
  application:
    name: item-service
  cloud:
    config:
      override-none: true
  rabbitmq:
    host: 192.168.64.128
    port: 5672
    username: admin
    password: admin
    
    
server:
  port: 8001

eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eurekaï¼Œhttp://eureka2:2002/eureka

